# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
generated/
playground-dist/
playground/generated/
storybook-static
doc_build/
coverage/
*.tgz
target/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
